azure-ai-projects==1.0.0b9
azure-identity
ipykernel
azure-ai-textanalytics==5.3.0
azure-ai-translation-text==1.0.0
azure-ai-inference==1.0.0b5
openai==1.90.0
azure-ai-vision-imageanalysis==1.0.0
azure-ai-vision-face==1.0.0b2
azure-search-documents==11.5.1
semantic-kernel