azure-ai-inference==1.0.0b5
azure-ai-textanalytics==5.3.0
azure-ai-translation-text==1.0.0
azure-ai-projects==1.0.0b9
azure-ai-vision-imageanalysis==1.0.0
azure-ai-vision-face==1.0.0b2
azure-cognitiveservices-speech==1.42.0
azure-identity
azure-search-documents==11.5.1
ipykernel
openai==1.90.0
semantic-kernel
fastmcp==2.10.2